
{% extends 'core/base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/tienda.css' %}">
<link rel="stylesheet" href="{% static 'core/css/home.css' %}"> {% endblock %}
{% block title %} Tienda {% endblock %}
{% block content%}
    <main>
        <h2 class="text-center">Tienda</h2>
        <div id="container-main" class="container">
            <div class="row">
                <div id="centrado" class="col-sm-6 col-md-3 mb-3">
                    <figure id="product-card">
                        <img class="productos-img" src="/img/set.png" alt="" id="product-card__image" />
                        <figcaption id="product-card__caption">
                            <header id="product-card__header">
                                <h2 id="product-card__title">{{service.title}}</h2>
                                <p id="product-card__subtitle">{{service.subtitle}}</p>
                            </header>
                            <footer id="product-card__footer">
                                <span id="product-card__price"> {{service.content}}</span>
                                <button id="product-card__button">
                                    <i id="product-card__icon"></i>
                                </button>
                            </footer>
                        </figcaption>
                    </figure>

                </div>
                <div id="centrado" class="col-sm-6 col-md-3 mb-3">
                    <figure id="product-card">
                        <img class="productos-img" src="/img/set.png" alt="" id="product-card__image" />
                        <figcaption id="product-card__caption">
                            <header id="product-card__header">
                                <h2 id="product-card__title">{{service.title}}</h2>
                                <p id="product-card__subtitle">{{service.subtitle}}</p>
                            </header>
                            <footer id="product-card__footer">
                                <span id="product-card__price"> {{service.content}}</span>
                                <button id="product-card__button">
                                    <i id="product-card__icon"></i>
                                </button>
                            </footer>
                        </figcaption>
                    </figure>

                </div>
                <div id="centrado" class="col-sm-6 col-md-3 mb-3">
                    <figure id="product-card">
                        <img class="productos-img" src="/img/set.png" alt="" id="product-card__image" />
                        <figcaption id="product-card__caption">
                            <header id="product-card__header">
                                <h2 id="product-card__title">{{service.title}}</h2>
                                <p id="product-card__subtitle">{{service.subtitle}}</p>
                            </header>
                            <footer id="product-card__footer">
                                <span id="product-card__price"> {{service.content}}</span>
                                <button id="product-card__button">
                                    <i id="product-card__icon"></i>
                                </button>
                            </footer>
                        </figcaption>
                    </figure>

                </div>
                <div id="centrado" class="col-sm-6 col-md-3 mb-3">
                    <figure id="product-card">
                        <img class="productos-img" src="/img/set.png" alt="" id="product-card__image" />
                        <figcaption id="product-card__caption">
                            <header id="product-card__header">
                                <h2 id="product-card__title">{{service.title}}</h2>
                                <p id="product-card__subtitle">{{service.subtitle}}</p>
                            </header>
                            <footer id="product-card__footer">
                                <span id="product-card__price"> {{service.content}}</span>
                                <button id="product-card__button">
                                    <i id="product-card__icon"></i>
                                </button>
                            </footer>
                        </figcaption>
                    </figure>

                </div>
            </div>
        </div>
    </main>

    {% endblock %}